* {
  display: flex;
  /*border-color: hotpink;
  border-width: 1px;
  border-style: solid;*/
}
body {
  color: rgb(41, 41, 41);
  padding-left: 2%;
  flex-direction: column;
  width: 80%;
  align-self: center;
}
.submit {
  padding-top: 2mm;
  padding-bottom: 7mm;
  margin: 1mm;
  flex-direction: column;
}
.input,
.enter {
  width: 20%;
  height: 7%;
  padding: 1%;
}
.enter {
  text-align: center;
}
.map {
  width: 50%;
}
.section {
  margin-top: 2%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.box,
.comment {
  border-style: solid;
  border-color: darkgrey;
  border-width: 1px;
  padding-top: 2mm;
  padding-left: 5mm;
  padding-bottom: 7mm;
  margin: 1mm;
  margin-bottom: 5mm;
  border-bottom-width: 5px;
  border-right-width: 5px;
  width: auto;
  flex-direction: column;
}
.middle {
  flex-direction: column;
}
title {
  display: none;
}
table {
  flex-direction: column;
}
script {
  display: none;
}
tbody {
  flex-direction: column;
}
th,
td {
  width: 10%;
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
}
th {
  background-color: grey;
  color: white;
}
.search,
.s_enter {
  margin: 0.2%;
  border-bottom-width: 2px;
  border-right-width: 2px;
  width: 20%;
  -wrap: wrap;
  border-color: darkgrey;
  border-style: solid;
  font-weight: bold;
  color: rgb(109, 109, 109);
}
.s_enter {
  border-bottom-width: 5px;
  border-right-width: 5px;
}
.news {
  flex-direction: column;
}
.tab_button {
  margin: 5px;
  padding: 2%;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-color: darkgrey;
  width: 400%;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: medium;
}
.tabs {
  flex-direction: row;
  height: 7%;
}

.T0,
.T1,
.T2,
.T4 {
  width: 10%;
}

.T3 {
  width: 60%;
}

.comment_cont {
  flex-direction: column;
}
.map-box {
  width: 80%;
}
h2 {
  padding-left: 50px;
}
.news-img {
  width: 20%;
}

@media only screen and (max-width: 850px) {
  .middle {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .search {
    width: 50%;
  }
  .T0 {
    display: none;
  }
  .tab_button {
    font-size: x-small;
  }
}
