* {
  display: flex;
}
.section {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 10%;
}
.results {
  display: flex;
}
script,
header,
#modal {
  display: none;
}
body {
  flex-direction: column;
  width: 100%;
}
button {
  margin: 5px;
}
tbody {
  flex-direction: column;
}
table {
  flex-direction: column;
}
th,
td,
.T0,
.T1,
.T2,
.T3 {
  width: 25%;
  border-style: none;
  padding-left: 1%;
  overflow: hidden;
}
.T2 {
  width: 15%;
}
.row {
  background-color: #10101050;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#modal {
  background-color: #10101050;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-left: 30%;
  z-index: 1;
  position: fixed;
  left: 0%;
  top: 0%;
}
#modalContent {
  background-color: #fff;
  width: 40%;
  left: 40%;
  top: 20%;
  padding: 3%;
  padding-top: 8%;
  padding-bottom: 10%;
  border-radius: 10px;
}
#info {
  flex-direction: column;
  margin-right: 5%;
  width: 70%;
}
.even {
  background-color: #eeeeee;
}
.odd {
  background-color: #dddddd;
}
#endHead {
  border-top-right-radius: 10px;
}
#startHead {
  border-top-left-radius: 10px;
}

button {
  border: none;
  padding: 1%;
  border-radius: 2px;
  background-color: #eeeeee;
  width: 70px;
  text-align: center;
  font-weight: bold;
}
button:hover {
  background-color: #cccccc;
}
#tabs {
  margin: 2%;
}
#home {
  flex-direction: row;
}
#logo {
  padding-right: 5%;
  display: flexbox;
  width: 200%;
}
#logoImg {
  display: block;
  width: 100%;
}
#homeText {
  padding-top: 10%;
  padding-right: 15%;
}
#profile {
  border-radius: 5px;
}

#space {
  display: none;
}

@media only screen and (max-width: 900px) {
  #home {
    flex-direction: column;
  }
  #logo {
    padding-right: 5%;
  }
  #logoImg {
    display: block;
    width: 50%;
  }
  #homeText {
    padding-top: 10%;
    padding-right: 2%;
  }

  #modal {
    background-color: #10101050;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-left: 5%;
    z-index: 1;
    position: fixed;
    left: 0%;
    top: 0%;
  }

  #modalContent {
    width: 85%;
    padding: 3%;
    padding-top: 8%;
    padding-bottom: 10%;
    border-radius: 10px;
  }
  #info {
    flex-direction: column;
    margin-right: 5%;
    width: 50%;
  }
  #profile {
    width: 40%;
    height: 50%;
  }
  #space {
    display: flex;
  }
  .T3,
  .T4 {
    display: none;
  }
  .T0,
  .T1,
  .T2 {
    width: 30%;
  }
  button {
    padding: 6%;
    width: 40%;
    text-justify: distribute;
    text-align: center;
    font-weight: bolder;
  }
}
