:root {
  /*colours*/
  --background: #555555;
  --text: #292929;
  --acsent: #e6d11b;
  --borders: #b4b4b4d8;
  --light: #eeeeee;
  --trans: #c9c9c9b9;
  --scroll: #c4b429;
}

* {
  display: flex;
}
style,
script,
head {
  display: none;
}
table,
tbody {
  flex-direction: column;
  width: 50%;
}
td,
th {
  width: 200%;
}
body {
  color: var(--text);
  flex-direction: column;
  width: 100%;
  padding: 0%;
  align-self: center;
}
@media only screen and (max-width: 850px) {
}
